@import "_zeroing";


.about {
  &__body {
    max-width: 823px;
    margin: 0 auto;
    padding-top: 30px;
  }
  &__header {
    margin-bottom: 65px;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__text {
    font-size: 14px;
    line-height: 26px;
    color: #868585;
    font-weight: 300;
    font-family: "Lato";
    text-align: center;
  }
  &__row {
    display: flex;
    font-size: 0px;
    margin: 0px -15px;
  }
  &__column {
    padding: 0px 15px;
    flex: 0 0 33.3333%;
  }
}
.title {
  font-size: 34px;
  letter-spacing: 5px;
  color: #000000;
  font-weight: 700;
  font-family: "Lato";
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 30px;
  &::after {
    content: "";
    position: absolute;
    width: 50px;
    bottom: 0;
    height: 1px;
    left: 50%;
    background-color: #000000;
    margin-left: -25px;
  }
}
.item-about {
  &__icon {
    margin: 0px auto;
    border: #ada074 2px solid;
    border-radius: 50%;
    width: 92px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  &__title {
    font-size: 22px;
    letter-spacing: 3.52px;
    color: #000000;
    font-weight: 400;
    font-family: "Lato";
    text-align: center;
    margin-bottom: 35px;
    text-transform: uppercase;
  }
  &__text {
    font-size: 14px;
    line-height: 26px;
    color: #868585;
    font-weight: 300;
    font-family: "Lato";
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  align-self: auto;
  }
}
